body
{
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url("../Pictures/Index Page/pc_room.JPG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
nav
{
    margin: 0;
    width: 100%;
    height: 38px;
    background-color: #ed2e31;
    position: fixed;
    min-width: 750px;
}
img#logo
{
    width: 130px;
    height: 38px;
    margin: 0;
    background-color: #ed2e31;
    float: left;
}
ul#menu
{
    margin:0;
    padding:0;
}
ul#menu .active
{
    background-color: #000000;
    color: #ffffff;
    text-decoration: underline;
}
ul#menu .selected
{
    background-color: #ffffff;
    color: #000000;
    text-decoration: underline;
}
ul#menu > li
{
    list-style:none;
    float:left;
    margin:0;
    padding:0;
    position:relative;
}
ul#menu a
{
    text-decoration:none;
    color:#fff;
    background-color:#ed2e31;
    display:block;
    padding:10px;
}
ul#menu > li ul.dropdown
{
    margin:0;
    padding:0;
    width:150px;
    position:absolute;
    display:none;
}
ul#menu > li ul.dropdown ul
{
    margin:0;
    padding:0;
    width:150px;
    position:absolute;
    display:none;
    left:150px;
    top:0;
}
ul#menu > li ul li
{
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
}
#firstScreen
{
    padding-top: 38px;
    width: 100%;
    height: 1042px;
    margin: 0;
    background-color: rgba(237, 46, 49, 0.6);
}
#FSInfo
{
    padding-top: 38px;
    text-align: center;
    background-color: rgba();
    width: 80%;
    height: 1005px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.8);
}
#descClub
{

}
#descMembers, #descMembers div
{
    width: 100%;
}
#descMembers div
{
    text-align: left;
    float: left;
    clear: left;
}
#descMembers div:nth-of-type(2n)
{
    text-align: right;
    float: right;
    clear: right;
}